# Name of this experiment
EYRg experiment 1

# Port at which the server should listnen.
6677

# Number of cluster used in this experiment
2

# Number of gateways used per cluster
24

# Number of streams used to connect gateways
1

##########################################
# Next, we configure each of the CESM jobs.

# ATM partition
job-ATM
504
12000
10.200.0.0/16

# OCN partition
job-OCN
1224
14000
10.200.0.0/16
